/* SOME GENRAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2389ff;
}

h5 {
  text-align: center;
  padding: 1rem;
}

img {
  border-bottom: 1px solid #312f2f;
}

h1 {
  text-align: center;
}

input[type='text'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

iframe {
  width: 100%;
  height: 30%;
}

footer {
  background-color: aliceblue;
  text-align: center;
}

/* STYLE FOR NAV BAR */

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

/* BODY STYLE */

.card-body {
  padding: 1px !important;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
}

.country {
  margin: 0.6rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
}

.btn {
  width: 100%;
  margin-top: 0.125rem;
}

/* style fro reservation */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: scroll;
}

.form-container {
  position: fixed;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50vw;
  overflow-y: scroll;
  max-height: 90vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
  color: black;
  position: relative;
  max-width: 1rem;
  align-self: flex-end;
  margin-top: -0.5rem;
}

.close-button:hover {
  background-color: initial;
  color: initial;
}

/* HERE THE STYLE FOR comment POPUP */

.popup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(232, 224, 224);
  padding: 12px;
  position: fixed;
  width: 50vw;
  height: 45vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 5px;
  overflow-y: scroll;
}

.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 0, 0, 0.6);
  z-index: 9999;
}

.countery-datail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.country-capital {
  padding-left: 12px;
}

.country-continent {
  padding-left: 12px;
}

.country-flag {
  width: 300px;
  height: 200px;
  box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.country-name {
  text-align: center;
  padding: 20px;
}

.comments-form {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 3px;
  max-width: 100%;
  align-self: center;
  padding: 0;
  margin: 0;
}

.comments-list {
  gap: 2px;
}

.comment-text {
  max-width: 350px;
  word-wrap: break-word;
  text-align: start;
  list-style: none;
}

/* style for mobile screen */

@media screen and (max-width: 768px) {
  .popup-container {
    width: 90vw;
    height: 90vh;
  }
}
