* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2389ff;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 2rem;
}

.country {
  margin: 0.6rem;
  padding: 0.5rem;
}

h5 {
  text-align: center;
  padding: 1rem;
}

img {
  border: 1px solid #312f2f;
}

.btn {
  width: 100%;
  margin-top: 0.125rem;
}

iframe {
  width: 100%;
  height: 30%;
}

footer {
  background-color: aliceblue;
  text-align: center;
}

.card-flex {
  display: flex;
  height: 24%;
  align-items: center;
  justify-content: space-between;
}

.fa-heart {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.icon-btn {
  background-color: #fff;
  outline: none;
  border: none;
}

.icon-counter {
  display: flex;
  flex-direction: column;
}

.like {
  display: flex;
  gap: 0.2rem;
}
